@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ml90dg');
  src:  url('fonts/icomoon.eot?ml90dg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ml90dg') format('truetype'),
    url('fonts/icomoon.woff?ml90dg') format('woff'),
    url('fonts/icomoon.svg?ml90dg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contacts, .icon-socials, .icon-profile {
	font-size: 55px;
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	border-radius: 50%;
	background: rgba(255,255,255,0.1);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	backdrop-filter: blur(5px);
	margin-right: 30px;
}
.icon-contacts:before {
  content: "\e902";
  color: #fff;
  transform: translateZ(20px);
}
.icon-socials:before {
  content: "\e901";
  color: #fff;
}
.icon-profile:before {
  content: "\e900";
  color: #fff;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 1393px;
	background: #161623;
}

body:before {
	content: '';
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#f00, #f0f);
	clip-path: circle(30% at right 70%);
}

body:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#2196f3, #e91e63);
	clip-path: circle(20% at 10% 10%);
}

#main-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	max-width: 1400px;
	flex-wrap: wrap;
	z-index: 1;
	padding: 30px 10px;
}

.side-card {
	width: 30%;
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	border-radius: 15px;
	background: rgba(255,255,255,0.1);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	backdrop-filter: blur(5px);
	margin-right: 3%;
}

.side-card-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 30px;
}

.resume-img {
	width: 220px;
	height: 270px;
	border-radius: 30px;
	margin-bottom: 40px;
}

h1 {
	font-size: 1.7em;
	color: #fff;
	margin-bottom: 10px;
}

.position-name {
	font-size: 1.3em;
	color: #fff;
	font-weight: 400;
	margin-bottom: 50px;
}

.personal-info-wrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.profile-wrapper {
	margin-bottom: 55px;
}

.icon-heading-div {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}

.heading {
	font-family: 'Limelight', cursive;
	color:/* #2196f3*//*#FF4EA4*//*#EC4998*//*#FFA5D1*/#CA55A5/*#B402BC*/;
	text-transform: uppercase;
}

.profile-paragraph {
	font-size: 25px;
	color: #fff;
	font-weight: 300;
	font-family: 'Iceland', cursive;
	margin-bottom: 15px;
}

.profile-paragraph:last-child {
	margin-bottom: 0;
}

.contacts-wrapper {
	margin-bottom: 55px;
	width:   100%;
}

.contacts-item {
	list-style: none;
	margin-bottom: 15px;
	border-bottom: 1px solid #766269;
	padding-bottom: 15px;
	position: relative;
	padding-left: 30px;
}

.contacts-item:before {
	content: '';
	width: 20px;
	height: 20px;
	position:  absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	background: linear-gradient(#f00, #f0f);
}

.contacts-item-link {
	font-family: 'Iceland', cursive;
	text-decoration: none;
	font-size: 25px;
	color: #B4A7AC;
}

.contacts-item-link:hover {
	color:  #fff;
}

.socials-wrapper {
	width:  100%;
}

.socials-item {
	list-style: none;
	margin-bottom: 15px;
	border-bottom: 1px solid #766269;
	padding-bottom: 15px;
	position: relative;
	padding-left: 30px;
}

.socials-item:before {
	content: '';
	width: 20px;
	height: 20px;
	position:  absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	background: linear-gradient(#f00, #f0f);
}

.socials-item-link {
	font-family: 'Iceland', cursive;
	text-decoration: none;
	font-size: 25px;
	color: #B4A7AC;
}

.socials-item-link:hover {
	color:  #fff;
}



.main-card {
	width: 67%;
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	border-radius: 15px;
	background: rgba(255,255,255,0.2);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	backdrop-filter: blur(5px);

}

.main-card-content {
	padding: 30px;
}

.main-card-heading {
	margin-bottom: 20px;
}

.skills {
	display:  flex;
	color: #000;
	width:  100%;
	justify-content: space-between;
	margin-bottom:  20px;
}

.skill {
	font-size: 0.8em;
	color: #D5D5D5;
	text-align: center;
}

.skill-block {
	width:  40px;
	height:  150px;
	background: #353b48;
	border:  1px solid rgba(0,0,0,0.3);
	border-radius:  3px;
	overflow:  hidden;
	box-shadow: 0 0 30px #2187e7b3;
	position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
}

.skill-bar {
	width:  40px;
	height:  150px;
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff);
	/*background: #2187e7;*/
	position: absolute;
	bottom:  0;
	left:  0;
}

.html {
	height:  85%;
	animation: html 2s;
}

.css {
	height:  80%;
	animation: css 2s;
} 

.jquery {
	height:  70%;
	animation: jquery 2s;
}

.sass {
	height:  60%;
	animation: sass 2s;
}

.git {
	height:  40%;
	animation: git 2s;
}

.bootstrap {
	height:  50%;
	animation: bootstrap 2s;
}

.gulp {
	height:  40%;
	animation: gulp 2s;
}

.js {
	height:  30%;
	animation: js 2s;
}

.php {
	height:  20%;
	animation: php 2s;
}

.c-plus-plus {
	height:  80%;
	animation: c-plus-plus 2s;
}

.sql {
	height:  70%;
	animation: sql 2s;
}

.r {
	height:  60%;
	animation: r 2s;
}

.uml {
	height:  55%;
	animation: uml 2s;
}

@keyframes html {
	0% {
		height:  0%;
	}
	100% {
		height:  85%;
	}
}

@keyframes css {
	0% {
		height:  0%;
	}
	100% {
		height:  80%;
	}
}

@keyframes jquery {
	0% {
		height:  0%;
	}
	100% {
		height:  70%;
	}
}

@keyframes sass {
	0% {
		height:  0%;
	}
	100% {
		height:  60%;
	}
}

@keyframes git {
	0% {
		height:  0%;
	}
	100% {
		height:  40%;
	}
}

@keyframes bootstrap {
	0% {
		height:  0%;
	}
	100% {
		height:  50%;
	}
}

@keyframes gulp {
	0% {
		height:  0%;
	}
	100% {
		height:  40%;
	}
}

@keyframes js {
	0% {
		height:  0%;
	}
	100% {
		height:  30%;
	}
}

@keyframes php {
	0% {
		height:  0%;
	}
	100% {
		height:  20%;
	}
}

@keyframes c-plus-plus {
	0% {
		height:  0%;
	}
	100% {
		height:  80%;
	}
}

@keyframes sql {
	0% {
		height:  0%;
	}
	100% {
		height:  70%;
	}
}

@keyframes r {
	0% {
		height:  0%;
	}
	100% {
		height:  60%;
	}
}

@keyframes uml {
	0% {
		height:  0%;
	}
	100% {
		height:  55%;
	}
}

.languages-div {
	font-size: 1.1em;
	color: #D5D5D5;
}

.language-item {
	list-style:  none;
	margin-bottom:  20px;
}

.bar {
	background: #353b48;
	display:  block;
	height:  8px;
	border:  1px solid rgba(0,0,0,0.3);
	border-radius:  3px;
	overflow:  hidden;
	box-shadow: 0 0 15px #2187e7b3;
}

.bar span {
	height:  4px;
	float:  left;
	background: #2187e7;
	position: relative;
}

.ukrainian {
	width:  100%;
	animation: ukrainian 2s;
}

.russian {
	width:  100%;
	animation: russian 2s;
}

.english {
	width:  90%;
	animation: english 2s;
}

.german {
	width:  80%;
	animation: german 2s;
}

@keyframes ukrainian {
	0% {
		width:  0%;
	}
	100% {
		width:  100%;
	}
}

@keyframes russian {
	0% {
		width:  0%;
	}
	100% {
		width:  100%;
	}
}

@keyframes english {
	0% {
		width:  0%;
	}
	100% {
		width:  90%;
	}
}

@keyframes german {
	0% {
		width:  0%;
	}
	100% {
		width:  80%;
	}
}

.tag:before {
	position: absolute;
	content: '';
	right: 0;
	
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #000;
}

.tag:after {
	position: absolute;
	content: 'Native';
	right: 0;
	top: -28px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	background: #000;
	padding: 1px 8px;
	border-radius: 3px;
	z-index: 4;
}



.education-div-wrapper,  .additional-education-div-wrapper{
	border-bottom: 1px solid #766269;
	padding-bottom: 15px;
	margin-bottom:  15px;
}

.education-div, .additional-education-div {
	border-left:  6px solid #2196f3;
	padding-left: 15px;
}

.intitution-study-years {
	display: flex;
	
}

.institution, .study-years, .faculty, .major {
	font-size: 1.3em;
	color: #D5D5D5;
	font-weight: 300;
}

.study-years {
	font-style: italic;
	font-size: 1.2em;
}

.institution {
	color: #;
	margin-right: 10px;
}

.major {
	font-weight: 400;
}



